# Exploring Our World in Data  COVID-19 data

Imports

In [70]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [71]:
import datetime

To seperate out the countries in this data we need country iso-3 codes. There is a data set of this all [here](https://www.iban.com/country-codes). Luckily we can download the data in one line of code with pandas' read_html function.

In [72]:
# country_codes = pd.read_html('https://www.iban.com/country-codes')[0]

# As I have already downloaded and saved the data I can now just load it in with this code
country_codes = pd.read_csv('data/country_codes.csv')

In [73]:
country_codes

               Country Alpha-2 code Alpha-3 code  Numeric
0          Afghanistan           AF          AFG        4
1        Åland Islands           AX          ALA      248
2              Albania           AL          ALB        8
3              Algeria           DZ          DZA       12
4       American Samoa           AS          ASM       16
..                 ...          ...          ...      ...
244  Wallis and Futuna           WF          WLF      876
245     Western Sahara           EH          ESH      732
246              Yemen           YE          YEM      887
247             Zambia           ZM          ZMB      894
248           Zimbabwe           ZW          ZWE      716

[249 rows x 4 columns]

Lets save this for future use and incase the website ever goes down.

In [74]:
country_codes.to_csv('data/country_codes.csv', index=False)

Using the github download link we can pull the latest OWID COVID data straight from github

In [75]:
data_link = 'https://github.com/owid/covid-19-data/raw/master/public/data/owid-covid-data.csv'

df = pd.read_csv(data_link)

df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87737,ZWE,Africa,Zimbabwe,2021-05-07,38403.0,5.0,20.857,1576.0,1.0,1.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
87738,ZWE,Africa,Zimbabwe,2021-05-08,38414.0,11.0,22.000,1576.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
87739,ZWE,Africa,Zimbabwe,2021-05-09,38419.0,5.0,19.714,1576.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
87740,ZWE,Africa,Zimbabwe,2021-05-10,38433.0,14.0,20.000,1576.0,0.0,0.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
87741,ZWE,Africa,Zimbabwe,2021-05-11,38448.0,15.0,17.286,1579.0,3.0,0.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [76]:
def interpret_date(value):
    year, month, day = value.split('-')

    return datetime.date(int(year), int(month), int(day))

In [77]:
df['date'] = df['date'].apply(interpret_date)

df = df.sort_values('date')

In [78]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
50929,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.380,75.05,0.779
3138,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845
3139,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845
50930,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.380,75.05,0.779
3140,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85081,VAT,Europe,Vatican,2021-05-11,27.0,0.0,0.000,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
71335,SVK,Europe,Slovakia,2021-05-11,386136.0,350.0,361.000,12077.0,26.0,31.714,...,30155.152,0.7,287.959,7.29,23.1,37.7,NaN,5.820,77.54,0.860
49888,MLT,Europe,Malta,2021-05-11,30464.0,6.0,11.857,417.0,0.0,0.143,...,36513.323,0.2,168.711,8.83,20.9,30.2,NaN,4.485,82.53,0.895
87741,ZWE,Africa,Zimbabwe,2021-05-11,38448.0,15.0,17.286,1579.0,3.0,0.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.700,61.49,0.571
39355,ISR,Asia,Israel,2021-05-12,NaN,NaN,NaN,NaN,NaN,NaN,...,33132.320,0.5,93.320,6.74,15.4,35.4,NaN,2.990,82.97,0.919

## Analysing the countries in the data set

In [79]:
country_iso_3_codes = list(country_codes['Alpha-3 code'])

In [80]:
country_df = df[df['iso_code'].isin(country_iso_3_codes)]

In [81]:
country_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
50929,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.380,75.05,0.779
3138,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845
3139,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845
50930,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.380,75.05,0.779
3140,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85081,VAT,Europe,Vatican,2021-05-11,27.0,0.0,0.000,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
71335,SVK,Europe,Slovakia,2021-05-11,386136.0,350.0,361.000,12077.0,26.0,31.714,...,30155.152,0.7,287.959,7.29,23.1,37.7,NaN,5.820,77.54,0.860
49888,MLT,Europe,Malta,2021-05-11,30464.0,6.0,11.857,417.0,0.0,0.143,...,36513.323,0.2,168.711,8.83,20.9,30.2,NaN,4.485,82.53,0.895
87741,ZWE,Africa,Zimbabwe,2021-05-11,38448.0,15.0,17.286,1579.0,3.0,0.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.700,61.49,0.571
39355,ISR,Asia,Israel,2021-05-12,NaN,NaN,NaN,NaN,NaN,NaN,...,33132.320,0.5,93.320,6.74,15.4,35.4,NaN,2.990,82.97,0.919

This is a header with all the values I want for the data on the countries

In [82]:
country_data_header = ['iso_code',
 'continent',
 'location',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index']

Now we can pull these columns from the OWID data and drop all the duplicates

In [83]:
country_data = country_df.drop_duplicates(subset = 'location')[country_data_header].sort_values('gdp_per_capita', ascending=False).reset_index(drop=True).dropna(subset=['gdp_per_capita'])

country_data

,iso_code,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,QAT,Asia,Qatar,2881060.0,227.322,31.9,1.307,0.617,116935.600,NaN,176.690,16.52,0.8,26.9,NaN,1.20,80.23,0.848
1,MAC,Asia,Macao,649342.0,20546.766,39.2,9.798,4.991,104861.851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.24,NaN
2,LUX,Europe,Luxembourg,625976.0,231.447,39.7,14.312,9.842,94277.965,0.2,128.275,4.42,20.9,26.0,NaN,4.51,82.25,0.916
3,SGP,Asia,Singapore,5850343.0,7915.731,42.4,12.922,7.049,85535.383,NaN,92.243,10.99,5.2,28.3,NaN,2.40,83.62,0.938
4,BRN,Asia,Brunei,437483.0,81.347,32.4,4.591,2.382,71809.251,NaN,201.285,12.79,2.0,30.9,NaN,2.70,75.86,0.838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,NER,Africa,Niger,24206636.0,16.955,15.1,2.553,1.378,926.000,44.5,238.339,2.42,0.1,15.4,8.978,0.30,62.42,0.394
185,COD,Africa,Democratic Republic of Congo,89561404.0,35.879,17.0,3.020,1.745,808.133,77.1,318.949,6.10,NaN,NaN,4.472,NaN,60.68,0.480
186,LBR,Africa,Liberia,5057677.0,49.127,19.2,3.057,1.756,752.788,38.6,272.509,2.42,1.5,18.1,1.188,0.80,64.10,0.480
187,BDI,Africa,Burundi,11890781.0,423.062,17.5,2.562,1.504,702.225,71.7,293.068,6.05,NaN,NaN,6.144,0.80,61.58,0.433
188,CAF,Africa,Central African Republic,4829764.0,7.479,18.3,3.655,2.251,661.240,NaN,435.727,6.10,NaN,NaN,16.603,1.00,53.28,0.397

We now have a dataset with all our country specific data. To analyse this data by country gdp level we need to sort the dataset by gdp per capita and seperate it out into four sections; 1, 2, 3, 4 where 1 is the top perctile etc

In [84]:
gdp_percentile_list = []
number_of_countries = len(country_data)
number_of_sections = 4
section = 1
for index, row in country_data.iterrows():
    if index < (section/number_of_sections)*number_of_countries:
        gdp_percentile_list.append(section)
    else:
        section += 1
        gdp_percentile_list.append(section)

In [85]:
country_data['gdp_per_cap_percentile'] = gdp_percentile_list

country_data

,iso_code,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,gdp_per_cap_percentile
0,QAT,Asia,Qatar,2881060.0,227.322,31.9,1.307,0.617,116935.600,NaN,176.690,16.52,0.8,26.9,NaN,1.20,80.23,0.848,1
1,MAC,Asia,Macao,649342.0,20546.766,39.2,9.798,4.991,104861.851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.24,NaN,1
2,LUX,Europe,Luxembourg,625976.0,231.447,39.7,14.312,9.842,94277.965,0.2,128.275,4.42,20.9,26.0,NaN,4.51,82.25,0.916,1
3,SGP,Asia,Singapore,5850343.0,7915.731,42.4,12.922,7.049,85535.383,NaN,92.243,10.99,5.2,28.3,NaN,2.40,83.62,0.938,1
4,BRN,Asia,Brunei,437483.0,81.347,32.4,4.591,2.382,71809.251,NaN,201.285,12.79,2.0,30.9,NaN,2.70,75.86,0.838,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,NER,Africa,Niger,24206636.0,16.955,15.1,2.553,1.378,926.000,44.5,238.339,2.42,0.1,15.4,8.978,0.30,62.42,0.394,4
185,COD,Africa,Democratic Republic of Congo,89561404.0,35.879,17.0,3.020,1.745,808.133,77.1,318.949,6.10,NaN,NaN,4.472,NaN,60.68,0.480,4
186,LBR,Africa,Liberia,5057677.0,49.127,19.2,3.057,1.756,752.788,38.6,272.509,2.42,1.5,18.1,1.188,0.80,64.10,0.480,4
187,BDI,Africa,Burundi,11890781.0,423.062,17.5,2.562,1.504,702.225,71.7,293.068,6.05,NaN,NaN,6.144,0.80,61.58,0.433,4
188,CAF,Africa,Central African Republic,4829764.0,7.479,18.3,3.655,2.251,661.240,NaN,435.727,6.10,NaN,NaN,16.603,1.00,53.28,0.397,4

In [86]:
country_data.to_csv('data/country_data.csv', index=False)

Testing that worked okay. Each of the percentile sections should have the same number of countries in them

In [87]:
for option in country_data['gdp_per_cap_percentile'].drop_duplicates():
    print(option, len(country_data[country_data['gdp_per_cap_percentile'] == option]))

1 48
2 47
3 47
4 47

Finally lets apply this back to the country df, which is the dataset with all the country specific coviid data

In [88]:
gdp_percentile_dict = country_data.set_index('iso_code').to_dict('dict')['gdp_per_cap_percentile']

In [89]:
def get_gdp_percentile(iso_code):
    try: return int(round(gdp_percentile_dict[iso_code]))
    except: return np.nan

In [90]:
country_df['gdp_per_cap_percentile'] = country_df['iso_code'].apply(get_gdp_percentile)

country_df

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,gdp_per_cap_percentile
50929,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,152.783,13.06,6.9,21.4,87.847,1.380,75.05,0.779,2.0
3138,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845,2.0
3139,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845,2.0
50930,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,152.783,13.06,6.9,21.4,87.847,1.380,75.05,0.779,2.0
3140,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6,191.032,5.50,16.2,27.7,NaN,5.000,76.67,0.845,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85081,VAT,Europe,Vatican,2021-05-11,27.0,0.0,0.000,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN,NaN
71335,SVK,Europe,Slovakia,2021-05-11,386136.0,350.0,361.000,12077.0,26.0,31.714,...,0.7,287.959,7.29,23.1,37.7,NaN,5.820,77.54,0.860,1.0
49888,MLT,Europe,Malta,2021-05-11,30464.0,6.0,11.857,417.0,0.0,0.143,...,0.2,168.711,8.83,20.9,30.2,NaN,4.485,82.53,0.895,1.0
87741,ZWE,Africa,Zimbabwe,2021-05-11,38448.0,15.0,17.286,1579.0,3.0,0.714,...,21.4,307.846,1.82,1.6,30.7,36.791,1.700,61.49,0.571,4.0
39355,ISR,Asia,Israel,2021-05-12,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,93.320,6.74,15.4,35.4,NaN,2.990,82.97,0.919,1.0

In [91]:
country_df.to_csv('data/country_covid_data.csv', index=False)

## Aggregating covid data

Finally we can look at the covid data by country gdp per capita percentile

In [92]:
covid_fields = [
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'icu_patients',
 'hosp_patients',
 'weekly_icu_admissions',
 'weekly_hosp_admissions',
 'new_tests',
 'total_tests',
 'new_tests_smoothed',
 'positive_rate',
#  'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'new_vaccinations',
 'new_vaccinations_smoothed',
#  'population',
#  'aged_65_older',
#  'aged_70_older',
 ]

In [93]:
cummalitive_covid_fields = ['total_cases',
 'total_deaths',
 'total_tests',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated']

changing_covid_fields = [
 'new_cases',
 'new_cases_smoothed',
 'new_deaths',
 'new_deaths_smoothed',
 'icu_patients',
 'hosp_patients',
 'weekly_icu_admissions',
 'weekly_hosp_admissions',
 'new_tests',
 'new_tests_smoothed',
 'positive_rate',
 'new_vaccinations']

In [94]:
percentile_options = list(country_df['gdp_per_cap_percentile'].drop_duplicates())

dates = list(country_df['date'].drop_duplicates())

In [95]:
countries = list(country_df['location'].drop_duplicates())

As the streamgraph uses total vaccines per date we need to fill in any dates for countries with missing data for that date

In [96]:
new_data = []
for country in tqdm(countries):
    df_temp = country_df[country_df['location'] == country]
    country_dates = list(df_temp['date'].drop_duplicates())

    country_data_started = False
    for date in dates:
        try:
            row = df_temp[df_temp['date']==date].iloc[0]
            country_data_started = True

            new_data.append(list(row))

            last_row = row.copy()
        except:
            if country_data_started:
                # print(country, 'Missing data on date:', date)

                row = last_row.copy()

                row['date'] = date

                for field in changing_covid_fields:
                    row[field] = 0

                new_data.append(list(row))

            else:
                pass

new_country_df = pd.DataFrame(new_data, columns = list(country_df))

100%|██████████| 212/212 [02:42<00:00,  1.31it/s]

In [99]:
country_df = new_country_df

Running test on data

In [100]:
for country in country_df['location'].drop_duplicates().sort_values():
    df_temp = country_df[country_df['location']==country]
    old_value = 0

    date_start = df_temp['date'].min()

    day = date_start

    # print('Data starts at:', day)
    for index, row in df_temp.iterrows():
        value = row['total_vaccinations']
        date = row['date']

        if date != day:
            print(country, 'missing date:', day + datetime.timedelta(days=1))

        if value < old_value:
            print(country, 'decreases on', date)

        old_value = value
        day = day + datetime.timedelta(days=1)

    last_date = dates[-1]
    date_end = df_temp['date'].max()

    if last_date != date_end:
        print(country, 'data ends in', date_end)

Agregating the data to the level of the percentile group

In [101]:
def prep_numbers(value):
    try: 
        return float(value)
    except: 
        print('Failed to prep', value)
        return np.nan

In [102]:
def gdp_stringifyer(value):
    option_dict = {
        1: "High",
        2: "Upper middle",
        3: "Lower middle",
        4: "Low"
    }

    try: return option_dict[int(value)]
    except: return np.nan

In [103]:
list(country_df['gdp_per_cap_percentile'].drop_duplicates().dropna().sort_values())

[1.0, 2.0, 3.0, 4.0]

In [104]:
country_df['gdp_per_cap_percentile'] = country_df['gdp_per_cap_percentile'].apply(gdp_stringifyer)

In [105]:
percentile_options = list(country_df['gdp_per_cap_percentile'].drop_duplicates().dropna().sort_values())

In [133]:
new_data = []
new_header = ['gdp_per_cap_percentile', 'date'] + covid_fields
total_vaccines_list = []
for percentile_option in tqdm(percentile_options):
    # print(percentile_option)
    percentile_option_df = country_df[country_df['gdp_per_cap_percentile'] == percentile_option].copy()

    countries_found = []
    for date in dates:
        new_row = [percentile_option, date].copy()
        percentile_option_date_df = percentile_option_df[percentile_option_df['date'] == date].copy()

        print(list(percentile_option_date_df['date'].drop_duplicates()))

        countries_found_for_date = list(percentile_option_date_df['location'].drop_duplicates())

        for c in countries_found_for_date:
            if c not in countries_found:
                countries_found.append(c)

        for j in countries_found:
            if j not in countries_found_for_date:
                print(j, 'not found in', percentile_option, 'on date:', date)

        for field in covid_fields:
            try:
                new_value = percentile_option_date_df[field].sum()
            except:
                print(percentile_option_date_df)
                new_value = percentile_option_date_df[field].sum()


            new_row.append(new_value)

        # if len(df_temp_date) == 47: 
        new_data.append(new_row)

gdp_percentile_data = pd.DataFrame(new_data, columns = new_header)

.date(2020, 11, 3)]
[datetime.date(2020, 11, 4)]
[datetime.date(2020, 11, 5)]
[datetime.date(2020, 11, 6)]
[datetime.date(2020, 11, 7)]
[datetime.date(2020, 11, 8)]
[datetime.date(2020, 11, 9)]
[datetime.date(2020, 11, 10)]
[datetime.date(2020, 11, 11)]
[datetime.date(2020, 11, 12)]
[datetime.date(2020, 11, 13)]
[datetime.date(2020, 11, 14)]
[datetime.date(2020, 11, 15)]
[datetime.date(2020, 11, 16)]
[datetime.date(2020, 11, 17)]
[datetime.date(2020, 11, 18)]
[datetime.date(2020, 11, 19)]
[datetime.date(2020, 11, 20)]
[datetime.date(2020, 11, 21)]
[datetime.date(2020, 11, 22)]
[datetime.date(2020, 11, 23)]
[datetime.date(2020, 11, 24)]
[datetime.date(2020, 11, 25)]
[datetime.date(2020, 11, 26)]
[datetime.date(2020, 11, 27)]
[datetime.date(2020, 11, 28)]
[datetime.date(2020, 11, 29)]
[datetime.date(2020, 11, 30)]
[datetime.date(2020, 12, 1)]
[datetime.date(2020, 12, 2)]
[datetime.date(2020, 12, 3)]
[datetime.date(2020, 12, 4)]
[datetime.date(2020, 12, 5)]
[datetime.date(2020, 12, 6)]
[datetime.date(2020, 12, 7)]
[datetime.date(2020, 12, 8)]
[datetime.date(2020, 12, 9)]
[datetime.date(2020, 12, 10)]
[datetime.date(2020, 12, 11)]
[datetime.date(2020, 12, 12)]
[datetime.date(2020, 12, 13)]
[datetime.date(2020, 12, 14)]
[datetime.date(2020, 12, 15)]
[datetime.date(2020, 12, 16)]
[datetime.date(2020, 12, 17)]
[datetime.date(2020, 12, 18)]
[datetime.date(2020, 12, 19)]
[datetime.date(2020, 12, 20)]
[datetime.date(2020, 12, 21)]
[datetime.date(2020, 12, 22)]
[datetime.date(2020, 12, 23)]
[datetime.date(2020, 12, 24)]
[datetime.date(2020, 12, 25)]
[datetime.date(2020, 12, 26)]
[datetime.date(2020, 12, 27)]
[datetime.date(2020, 12, 28)]
[datetime.date(2020, 12, 29)]
[datetime.date(2020, 12, 30)]
[datetime.date(2020, 12, 31)]
[datetime.date(2021, 1, 1)]
[datetime.date(2021, 1, 2)]
[datetime.date(2021, 1, 3)]
[datetime.date(2021, 1, 4)]
[datetime.date(2021, 1, 5)]
[datetime.date(2021, 1, 6)]
[datetime.date(2021, 1, 7)]
[datetime.date(2021, 1, 8)]
[datetime.date(2021, 1, 9)]
[datetime.date(2021, 1, 10)]
[datetime.date(2021, 1, 11)]
[datetime.date(2021, 1, 12)]
[datetime.date(2021, 1, 13)]
[datetime.date(2021, 1, 14)]
[datetime.date(2021, 1, 15)]
[datetime.date(2021, 1, 16)]
[datetime.date(2021, 1, 17)]
[datetime.date(2021, 1, 18)]
[datetime.date(2021, 1, 19)]
[datetime.date(2021, 1, 20)]
[datetime.date(2021, 1, 21)]
[datetime.date(2021, 1, 22)]
[datetime.date(2021, 1, 23)]
[datetime.date(2021, 1, 24)]
[datetime.date(2021, 1, 25)]
[datetime.date(2021, 1, 26)]
[datetime.date(2021, 1, 27)]
[datetime.date(2021, 1, 28)]
[datetime.date(2021, 1, 29)]
[datetime.date(2021, 1, 30)]
[datetime.date(2021, 1, 31)]
[datetime.date(2021, 2, 1)]
[datetime.date(2021, 2, 2)]
[datetime.date(2021, 2, 3)]
[datetime.date(2021, 2, 4)]
[datetime.date(2021, 2, 5)]
[datetime.date(2021, 2, 6)]
[datetime.date(2021, 2, 7)]
[datetime.date(2021, 2, 8)]
[datetime.date(2021, 2, 9)]
[datetime.date(2021, 2, 10)]
[datetime.date(2021, 2, 11)]
[datetime.date(2021, 2, 12)]
[datetime.date(2021, 2, 13)]
[datetime.date(2021, 2, 14)]
[datetime.date(2021, 2, 15)]
[datetime.date(2021, 2, 16)]
[datetime.date(2021, 2, 17)]
[datetime.date(2021, 2, 18)]
[datetime.date(2021, 2, 19)]
[datetime.date(2021, 2, 20)]
[datetime.date(2021, 2, 21)]
[datetime.date(2021, 2, 22)]
[datetime.date(2021, 2, 23)]
[datetime.date(2021, 2, 24)]
[datetime.date(2021, 2, 25)]
[datetime.date(2021, 2, 26)]
[datetime.date(2021, 2, 27)]
[datetime.date(2021, 2, 28)]
[datetime.date(2021, 3, 1)]
[datetime.date(2021, 3, 2)]
[datetime.date(2021, 3, 3)]
[datetime.date(2021, 3, 4)]
[datetime.date(2021, 3, 5)]
[datetime.date(2021, 3, 6)]
[datetime.date(2021, 3, 7)]
[datetime.date(2021, 3, 8)]
[datetime.date(2021, 3, 9)]
[datetime.date(2021, 3, 10)]
[datetime.date(2021, 3, 11)]
[datetime.date(2021, 3, 12)]
[datetime.date(2021, 3, 13)]
[datetime.date(2021, 3, 14)]
[datetime.date(2021, 3, 15)]
[datetime.date(2021, 3, 16)]
[datetime.date(2021, 3, 17)]
[datetime.date(2021, 3, 18)]
[datetime.date(2021, 3, 19)]
[datetime.date(2021, 3, 20)]
[datetime.date(2021, 3, 21)]
[datetime.date(2021, 3, 22)]
[datetime.date(2021, 3, 23)]
[datetime.date(2021, 3, 24)]
[datetime.date(2021, 3, 25)]
[datetime.date(2021, 3, 26)]
[datetime.date(2021, 3, 27)]
[datetime.date(2021, 3, 28)]
[datetime.date(2021, 3, 29)]
[datetime.date(2021, 3, 30)]
[datetime.date(2021, 3, 31)]
[datetime.date(2021, 4, 1)]
[datetime.date(2021, 4, 2)]
[datetime.date(2021, 4, 3)]
[datetime.date(2021, 4, 4)]
[datetime.date(2021, 4, 5)]
[datetime.date(2021, 4, 6)]
[datetime.date(2021, 4, 7)]
[datetime.date(2021, 4, 8)]
[datetime.date(2021, 4, 9)]
[datetime.date(2021, 4, 10)]
[datetime.date(2021, 4, 11)]
[datetime.date(2021, 4, 12)]
[datetime.date(2021, 4, 13)]
[datetime.date(2021, 4, 14)]
[datetime.date(2021, 4, 15)]
[datetime.date(2021, 4, 16)]
[datetime.date(2021, 4, 17)]
[datetime.date(2021, 4, 18)]
[datetime.date(2021, 4, 19)]
[datetime.date(2021, 4, 20)]
[datetime.date(2021, 4, 21)]
[datetime.date(2021, 4, 22)]
[datetime.date(2021, 4, 23)]
[datetime.date(2021, 4, 24)]
[datetime.date(2021, 4, 25)]
[datetime.date(2021, 4, 26)]
[datetime.date(2021, 4, 27)]
[datetime.date(2021, 4, 28)]
[datetime.date(2021, 4, 29)]
[datetime.date(2021, 4, 30)]
[datetime.date(2021, 5, 1)]
[datetime.date(2021, 5, 2)]
[datetime.date(2021, 5, 3)]
[datetime.date(2021, 5, 4)]
[datetime.date(2021, 5, 5)]
[datetime.date(2021, 5, 6)]
[datetime.date(2021, 5, 7)]
[datetime.date(2021, 5, 8)]
[datetime.date(2021, 5, 9)]
[datetime.date(2021, 5, 10)]
 75%|███████▌  | 3/4 [00:09<00:03,  3.08s/it][datetime.date(2021, 5, 11)]
[datetime.date(2021, 5, 12)]
[datetime.date(2020, 1, 1)]
[datetime.date(2020, 1, 2)]
[datetime.date(2020, 1, 3)]
[datetime.date(2020, 1, 4)]
[datetime.date(2020, 1, 5)]
[datetime.date(2020, 1, 6)]
[datetime.date(2020, 1, 7)]
[datetime.date(2020, 1, 8)]
[datetime.date(2020, 1, 9)]
[datetime.date(2020, 1, 10)]
[datetime.date(2020, 1, 11)]
[datetime.date(2020, 1, 12)]
[datetime.date(2020, 1, 13)]
[datetime.date(2020, 1, 14)]
[datetime.date(2020, 1, 15)]
[datetime.date(2020, 1, 16)]
[datetime.date(2020, 1, 17)]
[datetime.date(2020, 1, 18)]
[datetime.date(2020, 1, 19)]
[datetime.date(2020, 1, 20)]
[datetime.date(2020, 1, 21)]
[datetime.date(2020, 1, 22)]
[datetime.date(2020, 1, 23)]
[datetime.date(2020, 1, 24)]
[datetime.date(2020, 1, 25)]
[datetime.date(2020, 1, 26)]
[datetime.date(2020, 1, 27)]
[datetime.date(2020, 1, 28)]
[datetime.date(2020, 1, 29)]
[datetime.date(2020, 1, 30)]
[datetime.date(2020, 1, 31)]
[datetime.date(2020, 2, 1)]
[datetime.date(2020, 2, 2)]
[datetime.date(2020, 2, 3)]
[datetime.date(2020, 2, 4)]
[datetime.date(2020, 2, 5)]
[datetime.date(2020, 2, 6)]
[datetime.date(2020, 2, 7)]
[datetime.date(2020, 2, 8)]
[datetime.date(2020, 2, 9)]
[datetime.date(2020, 2, 10)]
[datetime.date(2020, 2, 11)]
[datetime.date(2020, 2, 12)]
[datetime.date(2020, 2, 13)]
[datetime.date(2020, 2, 14)]
[datetime.date(2020, 2, 15)]
[datetime.date(2020, 2, 16)]
[datetime.date(2020, 2, 17)]
[datetime.date(2020, 2, 18)]
[datetime.date(2020, 2, 19)]
[datetime.date(2020, 2, 20)]
[datetime.date(2020, 2, 21)]
[datetime.date(2020, 2, 22)]
[datetime.date(2020, 2, 23)]
[datetime.date(2020, 2, 24)]
[datetime.date(2020, 2, 25)]
[datetime.date(2020, 2, 26)]
[datetime.date(2020, 2, 27)]
[datetime.date(2020, 2, 28)]
[datetime.date(2020, 2, 29)]
[datetime.date(2020, 3, 1)]
[datetime.date(2020, 3, 2)]
[datetime.date(2020, 3, 3)]
[datetime.date(2020, 3, 4)]
[datetime.date(2020, 3, 5)]
[datetime.date(2020, 3, 6)]
[datetime.date(2020, 3, 7)]
[datetime.date(2020, 3, 8)]
[datetime.date(2020, 3, 9)]
[datetime.date(2020, 3, 10)]
[datetime.date(2020, 3, 11)]
[datetime.date(2020, 3, 12)]
[datetime.date(2020, 3, 13)]
[datetime.date(2020, 3, 14)]
[datetime.date(2020, 3, 15)]
[datetime.date(2020, 3, 16)]
[datetime.date(2020, 3, 17)]
[datetime.date(2020, 3, 18)]
[datetime.date(2020, 3, 19)]
[datetime.date(2020, 3, 20)]
[datetime.date(2020, 3, 21)]
[datetime.date(2020, 3, 22)]
[datetime.date(2020, 3, 23)]
[datetime.date(2020, 3, 24)]
[datetime.date(2020, 3, 25)]
[datetime.date(2020, 3, 26)]
[datetime.date(2020, 3, 27)]
[datetime.date(2020, 3, 28)]
[datetime.date(2020, 3, 29)]
[datetime.date(2020, 3, 30)]
[datetime.date(2020, 3, 31)]
[datetime.date(2020, 4, 1)]
[datetime.date(2020, 4, 2)]
[datetime.date(2020, 4, 3)]
[datetime.date(2020, 4, 4)]
[datetime.date(2020, 4, 5)]
[datetime.date(2020, 4, 6)]
[datetime.date(2020, 4, 7)]
[datetime.date(2020, 4, 8)]
[datetime.date(2020, 4, 9)]
[datetime.date(2020, 4, 10)]
[datetime.date(2020, 4, 11)]
[datetime.date(2020, 4, 12)]
[datetime.date(2020, 4, 13)]
[datetime.date(2020, 4, 14)]
[datetime.date(2020, 4, 15)]
[datetime.date(2020, 4, 16)]
[datetime.date(2020, 4, 17)]
[datetime.date(2020, 4, 18)]
[datetime.date(2020, 4, 19)]
[datetime.date(2020, 4, 20)]
[datetime.date(2020, 4, 21)]
[datetime.date(2020, 4, 22)]
[datetime.date(2020, 4, 23)]
[datetime.date(2020, 4, 24)]
[datetime.date(2020, 4, 25)]
[datetime.date(2020, 4, 26)]
[datetime.date(2020, 4, 27)]
[datetime.date(2020, 4, 28)]
[datetime.date(2020, 4, 29)]
[datetime.date(2020, 4, 30)]
[datetime.date(2020, 5, 1)]
[datetime.date(2020, 5, 2)]
[datetime.date(2020, 5, 3)]
[datetime.date(2020, 5, 4)]
[datetime.date(2020, 5, 5)]
[datetime.date(2020, 5, 6)]
[datetime.date(2020, 5, 7)]
[datetime.date(2020, 5, 8)]
[datetime.date(2020, 5, 9)]
[datetime.date(2020, 5, 10)]
[datetime.date(2020, 5, 11)]
[datetime.date(2020, 5, 12)]
[datetime.date(2020, 5, 13)]
[datetime.date(2020, 5, 14)]
[datetime.date(2020, 5, 15)]
[datetime.date(2020, 5, 16)]
[datetime.date(2020, 5, 17)]
[datetime.date(2020, 5, 18)]
[datetime.date(2020, 5, 19)]
[datetime.date(2020, 5, 20)]
[datetime.date(2020, 5, 21)]
[datetime.date(2020, 5, 22)]
[datetime.date(2020, 5, 23)]
[datetime.date(2020, 5, 24)]
[datetime.date(2020, 5, 25)]
[datetime.date(2020, 5, 26)]
[datetime.date(2020, 5, 27)]
[datetime.date(2020, 5, 28)]
[datetime.date(2020, 5, 29)]
[datetime.date(2020, 5, 30)]
[datetime.date(2020, 5, 31)]
[datetime.date(2020, 6, 1)]
[datetime.date(2020, 6, 2)]
[datetime.date(2020, 6, 3)]
[datetime.date(2020, 6, 4)]
[datetime.date(2020, 6, 5)]
[datetime.date(2020, 6, 6)]
[datetime.date(2020, 6, 7)]
[datetime.date(2020, 6, 8)]
[datetime.date(2020, 6, 9)]
[datetime.date(2020, 6, 10)]
[datetime.date(2020, 6, 11)]
[datetime.date(2020, 6, 12)]
[datetime.date(2020, 6, 13)]
[datetime.date(2020, 6, 14)]
[datetime.date(2020, 6, 15)]
[datetime.date(2020, 6, 16)]
[datetime.date(2020, 6, 17)]
[datetime.date(2020, 6, 18)]
[datetime.date(2020, 6, 19)]
[datetime.date(2020, 6, 20)]
[datetime.date(2020, 6, 21)]
[datetime.date(2020, 6, 22)]
[datetime.date(2020, 6, 23)]
[datetime.date(2020, 6, 24)]
[datetime.date(2020, 6, 25)]
[datetime.date(2020, 6, 26)]
[datetime.date(2020, 6, 27)]
[datetime.date(2020, 6, 28)]
[datetime.date(2020, 6, 29)]
[datetime.date(2020, 6, 30)]
[datetime.date(2020, 7, 1)]
[datetime.date(2020, 7, 2)]
[datetime.date(2020, 7, 3)]
[datetime.date(2020, 7, 4)]
[datetime.date(2020, 7, 5)]
[datetime.date(2020, 7, 6)]
[datetime.date(2020, 7, 7)]
[datetime.date(2020, 7, 8)]
[datetime.date(2020, 7, 9)]
[datetime.date(2020, 7, 10)]
[datetime.date(2020, 7, 11)]
[datetime.date(2020, 7, 12)]
[datetime.date(2020, 7, 13)]
[datetime.date(2020, 7, 14)]
[datetime.date(2020, 7, 15)]
[datetime.date(2020, 7, 16)]
[datetime.date(2020, 7, 17)]
[datetime.date(2020, 7, 18)]
[datetime.date(2020, 7, 19)]
[datetime.date(2020, 7, 20)]
[datetime.date(2020, 7, 21)]
[datetime.date(2020, 7, 22)]
[datetime.date(2020, 7, 23)]
[datetime.date(2020, 7, 24)]
[datetime.date(2020, 7, 25)]
[datetime.date(2020, 7, 26)]
[datetime.date(2020, 7, 27)]
[datetime.date(2020, 7, 28)]
[datetime.date(2020, 7, 29)]
[datetime.date(2020, 7, 30)]
[datetime.date(2020, 7, 31)]
[datetime.date(2020, 8, 1)]
[datetime.date(2020, 8, 2)]
[datetime.date(2020, 8, 3)]
[datetime.date(2020, 8, 4)]
[datetime.date(2020, 8, 5)]
[datetime.date(2020, 8, 6)]
[datetime.date(2020, 8, 7)]
[datetime.date(2020, 8, 8)]
[datetime.date(2020, 8, 9)]
[datetime.date(2020, 8, 10)]
[datetime.date(2020, 8, 11)]
[datetime.date(2020, 8, 12)]
[datetime.date(2020, 8, 13)]
[datetime.date(2020, 8, 14)]
[datetime.date(2020, 8, 15)]
[datetime.date(2020, 8, 16)]
[datetime.date(2020, 8, 17)]
[datetime.date(2020, 8, 18)]
[datetime.date(2020, 8, 19)]
[datetime.date(2020, 8, 20)]
[datetime.date(2020, 8, 21)]
[datetime.date(2020, 8, 22)]
[datetime.date(2020, 8, 23)]
[datetime.date(2020, 8, 24)]
[datetime.date(2020, 8, 25)]
[datetime.date(2020, 8, 26)]
[datetime.date(2020, 8, 27)]
[datetime.date(2020, 8, 28)]
[datetime.date(2020, 8, 29)]
[datetime.date(2020, 8, 30)]
[datetime.date(2020, 8, 31)]
[datetime.date(2020, 9, 1)]
[datetime.date(2020, 9, 2)]
[datetime.date(2020, 9, 3)]
[datetime.date(2020, 9, 4)]
[datetime.date(2020, 9, 5)]
[datetime.date(2020, 9, 6)]
[datetime.date(2020, 9, 7)]
[datetime.date(2020, 9, 8)]
[datetime.date(2020, 9, 9)]
[datetime.date(2020, 9, 10)]
[datetime.date(2020, 9, 11)]
[datetime.date(2020, 9, 12)]
[datetime.date(2020, 9, 13)]
[datetime.date(2020, 9, 14)]
[datetime.date(2020, 9, 15)]
[datetime.date(2020, 9, 16)]
[datetime.date(2020, 9, 17)]
[datetime.date(2020, 9, 18)]
[datetime.date(2020, 9, 19)]
[datetime.date(2020, 9, 20)]
[datetime.date(2020, 9, 21)]
[datetime.date(2020, 9, 22)]
[datetime.date(2020, 9, 23)]
[datetime.date(2020, 9, 24)]
[datetime.date(2020, 9, 25)]
[datetime.date(2020, 9, 26)]
[datetime.date(2020, 9, 27)]
[datetime.date(2020, 9, 28)]
[datetime.date(2020, 9, 29)]
[datetime.date(2020, 9, 30)]
[datetime.date(2020, 10, 1)]
[datetime.date(2020, 10, 2)]
[datetime.date(2020, 10, 3)]
[datetime.date(2020, 10, 4)]
[datetime.date(2020, 10, 5)]
[datetime.date(2020, 10, 6)]
[datetime.date(2020, 10, 7)]
[datetime.date(2020, 10, 8)]
[datetime.date(2020, 10, 9)]
[datetime.date(2020, 10, 10)]
[datetime.date(2020, 10, 11)]
[datetime.date(2020, 10, 12)]
[datetime.date(2020, 10, 13)]
[datetime.date(2020, 10, 14)]
[datetime.date(2020, 10, 15)]
[datetime.date(2020, 10, 16)]
[datetime.date(2020, 10, 17)]
[datetime.date(2020, 10, 18)]
[datetime.date(2020, 10, 19)]
[datetime.date(2020, 10, 20)]
[datetime.date(2020, 10, 21)]
[datetime.date(2020, 10, 22)]
[datetime.date(2020, 10, 23)]
[datetime.date(2020, 10, 24)]
[datetime.date(2020, 10, 25)]
[datetime.date(2020, 10, 26)]
[datetime.date(2020, 10, 27)]
[datetime.date(2020, 10, 28)]
[datetime.date(2020, 10, 29)]
[datetime.date(2020, 10, 30)]
[datetime.date(2020, 10, 31)]
[datetime.date(2020, 11, 1)]
[datetime.date(2020, 11, 2)]
[datetime.date(2020, 11, 3)]
[datetime.date(2020, 11, 4)]
[datetime.date(2020, 11, 5)]
[datetime.date(2020, 11, 6)]
[datetime.date(2020, 11, 7)]
[datetime.date(2020, 11, 8)]
[datetime.date(2020, 11, 9)]
[datetime.date(2020, 11, 10)]
[datetime.date(2020, 11, 11)]
[datetime.date(2020, 11, 12)]
[datetime.date(2020, 11, 13)]
[datetime.date(2020, 11, 14)]
[datetime.date(2020, 11, 15)]
[datetime.date(2020, 11, 16)]
[datetime.date(2020, 11, 17)]
[datetime.date(2020, 11, 18)]
[datetime.date(2020, 11, 19)]
[datetime.date(2020, 11, 20)]
[datetime.date(2020, 11, 21)]
[datetime.date(2020, 11, 22)]
[datetime.date(2020, 11, 23)]
[datetime.date(2020, 11, 24)]
[datetime.date(2020, 11, 25)]
[datetime.date(2020, 11, 26)]
[datetime.date(2020, 11, 27)]
[datetime.date(2020, 11, 28)]
[datetime.date(2020, 11, 29)]
[datetime.date(2020, 11, 30)]
[datetime.date(2020, 12, 1)]
[datetime.date(2020, 12, 2)]
[datetime.date(2020, 12, 3)]
[datetime.date(2020, 12, 4)]
[datetime.date(2020, 12, 5)]
[datetime.date(2020, 12, 6)]
[datetime.date(2020, 12, 7)]
[datetime.date(2020, 12, 8)]
[datetime.date(2020, 12, 9)]
[datetime.date(2020, 12, 10)]
[datetime.date(2020, 12, 11)]
[datetime.date(2020, 12, 12)]
[datetime.date(2020, 12, 13)]
[datetime.date(2020, 12, 14)]
[datetime.date(2020, 12, 15)]
[datetime.date(2020, 12, 16)]
[datetime.date(2020, 12, 17)]
[datetime.date(2020, 12, 18)]
[datetime.date(2020, 12, 19)]
[datetime.date(2020, 12, 20)]
[datetime.date(2020, 12, 21)]
[datetime.date(2020, 12, 22)]
[datetime.date(2020, 12, 23)]
[datetime.date(2020, 12, 24)]
[datetime.date(2020, 12, 25)]
[datetime.date(2020, 12, 26)]
[datetime.date(2020, 12, 27)]
[datetime.date(2020, 12, 28)]
[datetime.date(2020, 12, 29)]
[datetime.date(2020, 12, 30)]
[datetime.date(2020, 12, 31)]
[datetime.date(2021, 1, 1)]
[datetime.date(2021, 1, 2)]
[datetime.date(2021, 1, 3)]
[datetime.date(2021, 1, 4)]
[datetime.date(2021, 1, 5)]
[datetime.date(2021, 1, 6)]
[datetime.date(2021, 1, 7)]
[datetime.date(2021, 1, 8)]
[datetime.date(2021, 1, 9)]
[datetime.date(2021, 1, 10)]
[datetime.date(2021, 1, 11)]
[datetime.date(2021, 1, 12)]
[datetime.date(2021, 1, 13)]
[datetime.date(2021, 1, 14)]
[datetime.date(2021, 1, 15)]
[datetime.date(2021, 1, 16)]
[datetime.date(2021, 1, 17)]
[datetime.date(2021, 1, 18)]
[datetime.date(2021, 1, 19)]
[datetime.date(2021, 1, 20)]
[datetime.date(2021, 1, 21)]
[datetime.date(2021, 1, 22)]
[datetime.date(2021, 1, 23)]
[datetime.date(2021, 1, 24)]
[datetime.date(2021, 1, 25)]
[datetime.date(2021, 1, 26)]
[datetime.date(2021, 1, 27)]
[datetime.date(2021, 1, 28)]
[datetime.date(2021, 1, 29)]
[datetime.date(2021, 1, 30)]
[datetime.date(2021, 1, 31)]
[datetime.date(2021, 2, 1)]
[datetime.date(2021, 2, 2)]
[datetime.date(2021, 2, 3)]
[datetime.date(2021, 2, 4)]
[datetime.date(2021, 2, 5)]
[datetime.date(2021, 2, 6)]
[datetime.date(2021, 2, 7)]
[datetime.date(2021, 2, 8)]
[datetime.date(2021, 2, 9)]
[datetime.date(2021, 2, 10)]
[datetime.date(2021, 2, 11)]
[datetime.date(2021, 2, 12)]
[datetime.date(2021, 2, 13)]
[datetime.date(2021, 2, 14)]
[datetime.date(2021, 2, 15)]
[datetime.date(2021, 2, 16)]
[datetime.date(2021, 2, 17)]
[datetime.date(2021, 2, 18)]
[datetime.date(2021, 2, 19)]
[datetime.date(2021, 2, 20)]
[datetime.date(2021, 2, 21)]
[datetime.date(2021, 2, 22)]
[datetime.date(2021, 2, 23)]
[datetime.date(2021, 2, 24)]
[datetime.date(2021, 2, 25)]
[datetime.date(2021, 2, 26)]
[datetime.date(2021, 2, 27)]
[datetime.date(2021, 2, 28)]
[datetime.date(2021, 3, 1)]
[datetime.date(2021, 3, 2)]
[datetime.date(2021, 3, 3)]
[datetime.date(2021, 3, 4)]
[datetime.date(2021, 3, 5)]
[datetime.date(2021, 3, 6)]
[datetime.date(2021, 3, 7)]
[datetime.date(2021, 3, 8)]
[datetime.date(2021, 3, 9)]
[datetime.date(2021, 3, 10)]
[datetime.date(2021, 3, 11)]
[datetime.date(2021, 3, 12)]
[datetime.date(2021, 3, 13)]
[datetime.date(2021, 3, 14)]
[datetime.date(2021, 3, 15)]
[datetime.date(2021, 3, 16)]
[datetime.date(2021, 3, 17)]
[datetime.date(2021, 3, 18)]
[datetime.date(2021, 3, 19)]
[datetime.date(2021, 3, 20)]
[datetime.date(2021, 3, 21)]
[datetime.date(2021, 3, 22)]
[datetime.date(2021, 3, 23)]
[datetime.date(2021, 3, 24)]
[datetime.date(2021, 3, 25)]
[datetime.date(2021, 3, 26)]
[datetime.date(2021, 3, 27)]
[datetime.date(2021, 3, 28)]
[datetime.date(2021, 3, 29)]
[datetime.date(2021, 3, 30)]
[datetime.date(2021, 3, 31)]
[datetime.date(2021, 4, 1)]
[datetime.date(2021, 4, 2)]
[datetime.date(2021, 4, 3)]
[datetime.date(2021, 4, 4)]
[datetime.date(2021, 4, 5)]
[datetime.date(2021, 4, 6)]
[datetime.date(2021, 4, 7)]
[datetime.date(2021, 4, 8)]
[datetime.date(2021, 4, 9)]
[datetime.date(2021, 4, 10)]
[datetime.date(2021, 4, 11)]
[datetime.date(2021, 4, 12)]
[datetime.date(2021, 4, 13)]
[datetime.date(2021, 4, 14)]
100%|██████████| 4/4 [00:12<00:00,  3.02s/it][datetime.date(2021, 4, 15)]
[datetime.date(2021, 4, 16)]
[datetime.date(2021, 4, 17)]
[datetime.date(2021, 4, 18)]
[datetime.date(2021, 4, 19)]
[datetime.date(2021, 4, 20)]
[datetime.date(2021, 4, 21)]
[datetime.date(2021, 4, 22)]
[datetime.date(2021, 4, 23)]
[datetime.date(2021, 4, 24)]
[datetime.date(2021, 4, 25)]
[datetime.date(2021, 4, 26)]
[datetime.date(2021, 4, 27)]
[datetime.date(2021, 4, 28)]
[datetime.date(2021, 4, 29)]
[datetime.date(2021, 4, 30)]
[datetime.date(2021, 5, 1)]
[datetime.date(2021, 5, 2)]
[datetime.date(2021, 5, 3)]
[datetime.date(2021, 5, 4)]
[datetime.date(2021, 5, 5)]
[datetime.date(2021, 5, 6)]
[datetime.date(2021, 5, 7)]
[datetime.date(2021, 5, 8)]
[datetime.date(2021, 5, 9)]
[datetime.date(2021, 5, 10)]
[datetime.date(2021, 5, 11)]
[datetime.date(2021, 5, 12)]

In [119]:
gdp_percentile_data#.head(5)

,gdp_per_cap_percentile,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,icu_patients,hosp_patients,...,weekly_hosp_admissions,new_tests,total_tests,new_tests_smoothed,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed
0,High,2020-01-01,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0
1,High,2020-01-02,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0
2,High,2020-01-03,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0
3,High,2020-01-04,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0
4,High,2020-01-05,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,Upper middle,2021-05-08,49955896.0,198506.0,194268.570,1333807.0,5582.0,5477.143,0.0,0.0,...,0.0,810346.0,252781001.0,834284.0,2.277,446030639.0,81244822.0,49921289.0,10797551.0,9438479.0
1988,Upper middle,2021-05-09,50104973.0,149077.0,193241.998,1337655.0,3848.0,5406.146,0.0,0.0,...,0.0,673493.0,240035488.0,797081.0,1.950,427632674.0,65598286.0,40094550.0,7299825.0,9719751.0
1989,Upper middle,2021-05-10,50240062.0,135089.0,191507.858,1341469.0,3814.0,5295.570,0.0,0.0,...,0.0,393907.0,223044263.0,637279.0,1.081,496792684.0,105212145.0,58992721.0,9554169.0,9827050.0
1990,Upper middle,2021-05-11,50440865.0,200803.0,189257.143,1346877.0,5408.0,5153.855,0.0,0.0,...,0.0,49699.0,11969212.0,48605.0,0.000,478380410.0,88602325.0,47479955.0,11444852.0,9946312.0
1991,Upper middle,2021-05-12,50440865.0,0.0,0.000,1346877.0,0.0,0.000,0.0,0.0,...,0.0,0.0,11969212.0,0.0,0.000,478380410.0,88602325.0,47479955.0,0.0,9946312.0

In [120]:
gdp_percentile_data.to_csv('data/gdp_percentile_data.csv', index=False)

Running tests

In [121]:
for country in gdp_percentile_data['gdp_per_cap_percentile'].drop_duplicates().sort_values():
    df_temp = gdp_percentile_data[gdp_percentile_data['gdp_per_cap_percentile']==country]
    old_value = 0

    date_start = df_temp['date'].min()

    day = date_start

    # print('Data starts at:', day)
    for index, row in df_temp.iterrows():
        value = row['total_vaccinations']
        date = row['date']

        if date != day:
            print(country, 'missing date:', day)

        if value < old_value:
            print(country, 'decreases on', date)

        old_value = value
        day = day + datetime.timedelta(days=1)

High decreases on 2020-12-22
High decreases on 2020-12-24
High decreases on 2020-12-27
High decreases on 2020-12-29
High decreases on 2020-12-31
High decreases on 2021-01-03
High decreases on 2021-01-09
High decreases on 2021-01-16
High decreases on 2021-02-08
High decreases on 2021-02-15
High decreases on 2021-02-19
High decreases on 2021-02-23
High decreases on 2021-02-27
High decreases on 2021-03-02
High decreases on 2021-03-05
High decreases on 2021-03-12
High decreases on 2021-03-19
High decreases on 2021-03-27
High decreases on 2021-04-02
High decreases on 2021-04-06
High decreases on 2021-04-14
High decreases on 2021-04-16
High decreases on 2021-04-17
High decreases on 2021-04-20
High decreases on 2021-04-24
High decreases on 2021-04-26
High decreases on 2021-04-30
High decreases on 2021-05-04
High decreases on 2021-05-07
High decreases on 2021-05-11
High decreases on 2021-05-12
Low decreases on 2021-01-29
Low decreases on 2021-02-02
Low decreases on 2021-02-05
Low decreases on 2021-02-08
Low decreases on 2021-02-11
Low decreases on 2021-02-19
Low decreases on 2021-02-21
Low decreases on 2021-02-26
Low decreases on 2021-03-01
Low decreases on 2021-03-03
Low decreases on 2021-03-05
Low decreases on 2021-03-08
Low decreases on 2021-03-10
Low decreases on 2021-03-12
Low decreases on 2021-03-15
Low decreases on 2021-03-17
Low decreases on 2021-03-19
Low decreases on 2021-03-21
Low decreases on 2021-03-23
Low decreases on 2021-03-25
Low decreases on 2021-03-26
Low decreases on 2021-03-27
Low decreases on 2021-03-28
Low decreases on 2021-03-30
Low decreases on 2021-04-01
Low decreases on 2021-04-02
Low decreases on 2021-04-06
Low decreases on 2021-04-09
Low decreases on 2021-04-12
Low decreases on 2021-04-13
Low decreases on 2021-04-14
Low decreases on 2021-04-16
Low decreases on 2021-04-17
Low decreases on 2021-04-19
Low decreases on 2021-04-21
Low decreases on 2021-04-23
Low decreases on 2021-04-28
Low decreases on 2021-04-29
Low decreases on 2021-04-30
Low decreases on 2021-05-06
Low decreases on 2021-05-07
Low decreases on 2021-05-09
Low decreases on 2021-05-10
Lower middle decreases on 2021-02-07
Lower middle decreases on 2021-02-12
Lower middle decreases on 2021-02-14
Lower middle decreases on 2021-02-19
Lower middle decreases on 2021-02-21
Lower middle decreases on 2021-02-28
Lower middle decreases on 2021-03-04
Lower middle decreases on 2021-03-06
Lower middle decreases on 2021-03-07
Lower middle decreases on 2021-03-14
Lower middle decreases on 2021-03-18
Lower middle decreases on 2021-03-21
Lower middle decreases on 2021-03-24
Lower middle decreases on 2021-03-28
Lower middle decreases on 2021-03-29
Lower middle decreases on 2021-04-03
Lower middle decreases on 2021-04-05
Lower middle decreases on 2021-04-07
Lower middle decreases on 2021-04-09
Lower middle decreases on 2021-04-11
Lower middle decreases on 2021-04-16
Lower middle decreases on 2021-04-18
Lower middle decreases on 2021-04-20
Lower middle decreases on 2021-04-23
Lower middle decreases on 2021-04-24
Lower middle decreases on 2021-04-29
Lower middle decreases on 2021-05-01
Lower middle decreases on 2021-05-03
Lower middle decreases on 2021-05-05
Lower middle decreases on 2021-05-08
Lower middle decreases on 2021-05-10
Upper middle decreases on 2020-12-16
Upper middle decreases on 2020-12-23
Upper middle decreases on 2021-01-01
Upper middle decreases on 2021-01-03
Upper middle decreases on 2021-01-10
Upper middle decreases on 2021-01-14
Upper middle decreases on 2021-01-16
Upper middle decreases on 2021-01-17
Upper middle decreases on 2021-01-21
Upper middle decreases on 2021-01-24
Upper middle decreases on 2021-01-28
Upper middle decreases on 2021-02-01
Upper middle decreases on 2021-02-04
Upper middle decreases on 2021-02-05
Upper middle decreases on 2021-02-10
Upper middle decreases on 2021-02-14
Upper middle decreases on 2021-03-01
Upper middle decreases on 2021-03-06
Upper middle decreases on 2021-03-12
Upper middle decreases on 2021-03-15
Upper middle decreases on 2021-03-16
Upper middle decreases on 2021-03-21
Upper middle decreases on 2021-03-28
Upper middle decreases on 2021-04-01
Upper middle decreases on 2021-04-11
Upper middle decreases on 2021-04-15
Upper middle decreases on 2021-04-27
Upper middle decreases on 2021-05-08
Upper middle decreases on 2021-05-09
Upper middle decreases on 2021-05-11

## Rearanging data to work in the d3 streamgraph

In [134]:
list(gdp_percentile_data)

['gdp_per_cap_percentile',
 'date',
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'icu_patients',
 'hosp_patients',
 'weekly_icu_admissions',
 'weekly_hosp_admissions',
 'new_tests',
 'total_tests',
 'new_tests_smoothed',
 'positive_rate',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'new_vaccinations',
 'new_vaccinations_smoothed']

In [135]:
value_type = 'new_vaccinations'

In [136]:
gdp_percentile_data.head(5)

,gdp_per_cap_percentile,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,icu_patients,hosp_patients,...,weekly_hosp_admissions,new_tests,total_tests,new_tests_smoothed,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed
0,High,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,High,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,High,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,High,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,High,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [137]:
dates = list(gdp_percentile_data['date'].sort_values().drop_duplicates())
wealth_groups = list(gdp_percentile_data['gdp_per_cap_percentile'].sort_values().drop_duplicates().dropna())

In [138]:
new_data = []
new_header = ['date'] + wealth_groups
new_values = [[0,0,0,0]]
for row_num, date in enumerate(dates):
    new_row = [date]
    date_df = gdp_percentile_data[gdp_percentile_data['date'] == date]

    last_values_row = new_values[row_num]
    new_values_row = []
    for col_num, group in enumerate(wealth_groups):
        group_date_df = date_df[date_df['gdp_per_cap_percentile'] == group]

        last_value = last_values_row[col_num]
        value = list(group_date_df[value_type])[0]
        new_value = value + last_value

        new_values_row.append(new_value)
        
        new_row.append(new_value)

    
    new_values.append(new_values_row)
    new_data.append(new_row)

stream_graph_data = pd.DataFrame(new_data, columns = new_header)

In [139]:
stream_graph_data = stream_graph_data[stream_graph_data['date'] >= datetime.date(2020, 12, 8)]

In [140]:
stream_graph_data

           date         High        Low  Lower middle  Upper middle
342  2020-12-08          3.0        0.0           0.0           0.0
343  2020-12-09          4.0        0.0           0.0           0.0
344  2020-12-10          5.0        0.0           0.0           0.0
345  2020-12-11          5.0        0.0           0.0           0.0
346  2020-12-12          5.0        0.0           0.0           0.0
..          ...          ...        ...           ...           ...
493  2021-05-08  491335901.0  8724011.0   188823891.0   397886464.0
494  2021-05-09  495803920.0  8920181.0   189740763.0   405186289.0
495  2021-05-10  501528091.0  8988830.0   192672097.0   414740458.0
496  2021-05-11  505366766.0  9080514.0   195739664.0   426185310.0
497  2021-05-12  505366766.0  9080514.0   195739664.0   426185310.0

[156 rows x 5 columns]

In [141]:
stream_graph_data.to_csv('data/vaccine_stream_data.csv', index = False)

## Testing stream data

Running a test to see if the values ever decrease. They should not

In [142]:
for wealth_group in wealth_groups:
    old_value = 0
    for index, row in stream_graph_data.iterrows():
        value = row[wealth_group]
        date = row['date']

        if value < old_value:
            print(wealth_group, 'decreases on', date)

        old_value = value