# Exploring Our World in Data  COVID-19 data

Imports

In [93]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [94]:
import datetime

To seperate out the countries in this data we need country iso-3 codes. There is a data set of this all [here](https://www.iban.com/country-codes). Luckily we can download the data in one line of code with pandas read_html function.

In [95]:
country_codes = pd.read_html('https://www.iban.com/country-codes')[0]

In [96]:
country_codes

               Country Alpha-2 code Alpha-3 code  Numeric
0          Afghanistan           AF          AFG        4
1        Åland Islands           AX          ALA      248
2              Albania           AL          ALB        8
3              Algeria           DZ          DZA       12
4       American Samoa           AS          ASM       16
..                 ...          ...          ...      ...
244  Wallis and Futuna           WF          WLF      876
245     Western Sahara           EH          ESH      732
246              Yemen           YE          YEM      887
247             Zambia           ZM          ZMB      894
248           Zimbabwe           ZW          ZWE      716

[249 rows x 4 columns]

Lets save this for future use and incase the website ever goes down.

In [97]:
country_codes.to_csv('data/country_codes.csv', index=False)

Using the github download link we can pull the latest OWID COVID data straight from github

In [98]:
data_link = 'https://github.com/owid/covid-19-data/raw/master/public/data/owid-covid-data.csv'

df = pd.read_csv(data_link)

df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84959,ZWE,Africa,Zimbabwe,2021-04-25,38086.0,22.0,47.857,1557.0,1.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84960,ZWE,Africa,Zimbabwe,2021-04-26,38102.0,16.0,34.714,1560.0,3.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84961,ZWE,Africa,Zimbabwe,2021-04-27,38164.0,62.0,41.286,1565.0,5.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84962,ZWE,Africa,Zimbabwe,2021-04-28,38191.0,27.0,30.143,1565.0,0.0,1.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84963,ZWE,Africa,Zimbabwe,2021-04-29,38235.0,44.0,31.000,1567.0,2.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [99]:
def interpret_date(value):
    year, month, day = value.split('-')

    return datetime.datetime(int(year), int(month), int(day))

In [100]:
df['date'] = df['date'].apply(interpret_date)

## Analysing the countries in the data set

In [101]:
country_iso_3_codes = list(country_codes['Alpha-3 code'])

In [102]:
country_df = df[df['iso_code'].isin(country_iso_3_codes)]

In [103]:
country_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84959,ZWE,Africa,Zimbabwe,2021-04-25,38086.0,22.0,47.857,1557.0,1.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84960,ZWE,Africa,Zimbabwe,2021-04-26,38102.0,16.0,34.714,1560.0,3.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84961,ZWE,Africa,Zimbabwe,2021-04-27,38164.0,62.0,41.286,1565.0,5.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84962,ZWE,Africa,Zimbabwe,2021-04-28,38191.0,27.0,30.143,1565.0,0.0,1.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84963,ZWE,Africa,Zimbabwe,2021-04-29,38235.0,44.0,31.000,1567.0,2.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [104]:
country_data_header = ['iso_code',
 'continent',
 'location',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index']

In [105]:
country_data = country_df.drop_duplicates(subset = 'location')[country_data_header].sort_values('gdp_per_capita', ascending=False).reset_index(drop=True).dropna(subset=['gdp_per_capita'])

country_data

,iso_code,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,QAT,Asia,Qatar,2881060.0,227.322,31.9,1.307,0.617,116935.600,NaN,176.690,16.52,0.8,26.9,NaN,1.20,80.23,0.848
1,MAC,Asia,Macao,649342.0,20546.766,39.2,9.798,4.991,104861.851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.24,NaN
2,LUX,Europe,Luxembourg,625976.0,231.447,39.7,14.312,9.842,94277.965,0.2,128.275,4.42,20.9,26.0,NaN,4.51,82.25,0.916
3,SGP,Asia,Singapore,5850343.0,7915.731,42.4,12.922,7.049,85535.383,NaN,92.243,10.99,5.2,28.3,NaN,2.40,83.62,0.938
4,BRN,Asia,Brunei,437483.0,81.347,32.4,4.591,2.382,71809.251,NaN,201.285,12.79,2.0,30.9,NaN,2.70,75.86,0.838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NER,Africa,Niger,24206636.0,16.955,15.1,2.553,1.378,926.000,44.5,238.339,2.42,0.1,15.4,8.978,0.30,62.42,0.394
184,COD,Africa,Democratic Republic of Congo,89561404.0,35.879,17.0,3.020,1.745,808.133,77.1,318.949,6.10,NaN,NaN,4.472,NaN,60.68,0.480
185,LBR,Africa,Liberia,5057677.0,49.127,19.2,3.057,1.756,752.788,38.6,272.509,2.42,1.5,18.1,1.188,0.80,64.10,0.480
186,BDI,Africa,Burundi,11890781.0,423.062,17.5,2.562,1.504,702.225,71.7,293.068,6.05,NaN,NaN,6.144,0.80,61.58,0.433
187,CAF,Africa,Central African Republic,4829764.0,7.479,18.3,3.655,2.251,661.240,NaN,435.727,6.10,NaN,NaN,16.603,1.00,53.28,0.397

We now have a dataset with all our country specific data. To analyse this data by country gdp level we need to sort the dataset by gdp per capita and seperate it out into four sections; 1, 2, 3, 4 where 1 is the top perctile etc

In [106]:
gdp_percentile_list = []
number_of_countries = len(country_data)
number_of_sections = 4
section = 1
for index, row in country_data.iterrows():
    if index < (section/number_of_sections)*number_of_countries:
        gdp_percentile_list.append(section)
    else:
        section += 1
        gdp_percentile_list.append(section)

In [107]:
country_data['gdp_per_cap_percentile'] = gdp_percentile_list

country_data

,iso_code,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,gdp_per_cap_percentile
0,QAT,Asia,Qatar,2881060.0,227.322,31.9,1.307,0.617,116935.600,NaN,176.690,16.52,0.8,26.9,NaN,1.20,80.23,0.848,1
1,MAC,Asia,Macao,649342.0,20546.766,39.2,9.798,4.991,104861.851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.24,NaN,1
2,LUX,Europe,Luxembourg,625976.0,231.447,39.7,14.312,9.842,94277.965,0.2,128.275,4.42,20.9,26.0,NaN,4.51,82.25,0.916,1
3,SGP,Asia,Singapore,5850343.0,7915.731,42.4,12.922,7.049,85535.383,NaN,92.243,10.99,5.2,28.3,NaN,2.40,83.62,0.938,1
4,BRN,Asia,Brunei,437483.0,81.347,32.4,4.591,2.382,71809.251,NaN,201.285,12.79,2.0,30.9,NaN,2.70,75.86,0.838,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,NER,Africa,Niger,24206636.0,16.955,15.1,2.553,1.378,926.000,44.5,238.339,2.42,0.1,15.4,8.978,0.30,62.42,0.394,4
184,COD,Africa,Democratic Republic of Congo,89561404.0,35.879,17.0,3.020,1.745,808.133,77.1,318.949,6.10,NaN,NaN,4.472,NaN,60.68,0.480,4
185,LBR,Africa,Liberia,5057677.0,49.127,19.2,3.057,1.756,752.788,38.6,272.509,2.42,1.5,18.1,1.188,0.80,64.10,0.480,4
186,BDI,Africa,Burundi,11890781.0,423.062,17.5,2.562,1.504,702.225,71.7,293.068,6.05,NaN,NaN,6.144,0.80,61.58,0.433,4
187,CAF,Africa,Central African Republic,4829764.0,7.479,18.3,3.655,2.251,661.240,NaN,435.727,6.10,NaN,NaN,16.603,1.00,53.28,0.397,4

In [108]:
country_data.to_csv('data/country_data.csv', index=False)

Testing that worked okay. Each of the percentile sections should have the same number of countries in them

In [109]:
for option in country_data['gdp_per_cap_percentile'].drop_duplicates():
    print(option, len(country_data[country_data['gdp_per_cap_percentile'] == option]))

1 47
2 47
3 47
4 47

Finally lets apply this back to the country df, which is the dataset with all the country specific coviid data

In [110]:
gdp_percentile_dict = country_data.set_index('iso_code').to_dict('dict')['gdp_per_cap_percentile']

In [111]:
def get_gdp_percentile(iso_code):
    try: return int(round(gdp_percentile_dict[iso_code]))
    except: return np.nan

In [112]:
country_df['gdp_per_cap_percentile'] = country_df['iso_code'].apply(get_gdp_percentile)

country_df

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,gdp_per_cap_percentile
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,4.0
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,4.0
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,4.0
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,4.0
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84959,ZWE,Africa,Zimbabwe,2021-04-25,38086.0,22.0,47.857,1557.0,1.0,0.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,4.0
84960,ZWE,Africa,Zimbabwe,2021-04-26,38102.0,16.0,34.714,1560.0,3.0,1.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,4.0
84961,ZWE,Africa,Zimbabwe,2021-04-27,38164.0,62.0,41.286,1565.0,5.0,1.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,4.0
84962,ZWE,Africa,Zimbabwe,2021-04-28,38191.0,27.0,30.143,1565.0,0.0,1.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,4.0
84963,ZWE,Africa,Zimbabwe,2021-04-29,38235.0,44.0,31.000,1567.0,2.0,1.714,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,4.0

In [113]:
country_df.to_csv('data/country_covid_data.csv', index=False)

## Aggregating covid data

Finally we can look at the covid data by country gdp per capita percentile

In [114]:
covid_fields = [
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'icu_patients',
 'hosp_patients',
 'weekly_icu_admissions',
 'weekly_hosp_admissions',
 'new_tests',
 'total_tests',
 'new_tests_smoothed',
 'positive_rate',
#  'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'population',
 'aged_65_older',
 'aged_70_older',
 ]

In [115]:
percentile_options = list(country_df['gdp_per_cap_percentile'].drop_duplicates())

dates = list(country_df['date'].drop_duplicates())

In [116]:
new_data = []
new_header = ['gdp_per_cap_percentile', 'date'] + covid_fields
for percentile_option in tqdm(percentile_options):
    df_temp = country_df[country_df['gdp_per_cap_percentile'] == percentile_option]

    for date in dates:
        new_row = [percentile_option, date]
        df_temp_date = df_temp[df_temp['date'] == date]

        for field in covid_fields:
            new_value = df_temp_date[field].dropna().sum()
            new_row.append(new_value)

        new_data.append(new_row)

gdp_percentile_data = pd.DataFrame(new_data, columns = new_header)

100%|██████████| 5/5 [00:53<00:00, 10.67s/it]

In [117]:
gdp_percentile_data[gdp_percentile_data['gdp_per_cap_percentile'] == 1]

,gdp_per_cap_percentile,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,icu_patients,hosp_patients,...,new_tests_smoothed,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed,population,aged_65_older,aged_70_older
1944,1.0,2020-02-24,1433.0,323.0,164.714,18.0,6.0,2.286,26.0,127.0,...,4110.0,0.249,0.0,0.0,0.0,0.0,0.0,9.706679e+08,356.141,234.307
1945,1.0,2020-02-25,1732.0,299.0,200.001,24.0,6.0,3.001,35.0,151.0,...,5043.0,0.243,0.0,0.0,0.0,0.0,0.0,9.883289e+08,393.779,260.699
1946,1.0,2020-02-26,2223.0,491.0,264.858,29.0,5.0,3.714,36.0,169.0,...,6194.0,0.227,0.0,0.0,0.0,0.0,0.0,9.950767e+08,430.052,285.003
1947,1.0,2020-02-27,3038.0,815.0,365.001,36.0,7.0,4.572,65.0,331.0,...,7694.0,0.244,0.0,0.0,0.0,0.0,0.0,1.012587e+09,463.262,306.091
1948,1.0,2020-02-28,3940.0,902.0,472.143,41.0,5.0,5.000,72.0,421.0,...,10333.0,0.234,0.0,0.0,0.0,0.0,0.0,1.017409e+09,478.584,315.811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,1.0,2020-02-20,387.0,85.0,24.571,4.0,1.0,0.429,0.0,11.0,...,1745.0,0.158,0.0,0.0,0.0,0.0,0.0,9.589631e+08,334.757,220.434
2426,1.0,2020-02-21,527.0,140.0,41.572,6.0,2.0,0.715,0.0,1.0,...,2074.0,0.184,0.0,0.0,0.0,0.0,0.0,9.589631e+08,334.757,220.434
2427,1.0,2020-02-22,827.0,300.0,82.000,7.0,1.0,0.715,0.0,0.0,...,3104.0,0.216,0.0,0.0,0.0,0.0,0.0,9.589631e+08,334.757,220.434
2428,1.0,2020-02-23,1110.0,283.0,120.857,12.0,5.0,1.429,0.0,1.0,...,3365.0,0.238,0.0,0.0,0.0,0.0,0.0,9.745811e+08,373.080,246.171
2429,1.0,2021-04-30,0.0,0.0,0.000,0.0,0.0,0.000,68.0,179.0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,8.655541e+06,11.733,7.359